.cards-wapper .card{
    width: 18rem;
    min-height: 18rem;
    margin: 0 .5rem;
    padding: .4rem;
    transition: .5s;
}
.cards-wapper .card:hover{
    transform: scale(1.1);
}
.cards-wapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 3rem;
}
img{
    width: 10rem;
}